:root {
  --color-primary: #047bd5;
  --color-complimentary: #f8e831;
  --border-radius: 0.2778rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

#header {
  background: var(--color-primary);
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0rem 0.2222rem 0.2778rem 0rem #b8babc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1rem;
  font-family: "Orbitron", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li {
  margin-right: 3rem;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #fff;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  padding: 5px 2px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  gap: 20px;
  height: 90vh;
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 0%;
  height: 100%;
}

.content-box {
  display: flex;
  gap: 20px;
  flex: 1;
  flex-direction: column;
  height: 90%;
}

.right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border: 1px solid var(--color-primary);
}

.left-content > * {
  flex: 1;
}
.drag-area {
  border: 2px solid #fff;
  padding: 10%;
  height: 40%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  flex-direction: column;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.output-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #047bd5, #5e16cd);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  margin-top: 30px;
}

.output-button:hover {
  background: linear-gradient(135deg, #e6ad4b, #f9ed59);
}

.text-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  flex: 1 0 calc(50% - 15px);
}

.text-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  resize: none;
  font-size: 16px;
}

.text-input:focus {
  border-color: var(--color-primary);
}

.text-output {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #ccc;
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.text-heading {
  margin-bottom: 10px;
}
.input-file {
  width: 40%;
  padding: 10px;
  background: linear-gradient(135deg, grey, white);
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.input-submit {
  width: 25%;
  padding: 10px;
  background: white;
  color: var(--color-primary);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
